---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="m-auto max-w-4xl">
		<h1 class="text-8xl font-black uppercase text-center">
			Libros de
			<span class="block text-[58px]">programación</span>
		</h1>
	</main>
</Layout>