---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-8xl font-black uppercase">
			Libros de <span>programación</span>
		</h1>
	</main>
</Layout>